{% include 'includes/header.html' %}
<script>
  const currentURL = window.location.origin;
</script>

<div class="content">
  <h1>
    Dashboard -
    <div id="showCoopName"></div>
  </h1>

  <div class="row">
    <div class="col-md-3">
      <div class="card bg-primary text-white text-center">
        <div id="membersShow"></div>
        <p>Members</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-danger text-white text-center">
        <div id="showTotalLoan"></div>
        <p>Total Loan</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-success text-white text-center">
        <div id="showSavings"></div>
        <p>Total Savings</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-warning text-center">
        <div id="showWaiting"></div>

        <p>Waiting Approval</p>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-3">
      <div class="card bg-info text-white text-center">
        <h1>$0</h1>
        <div id="showSavings"></div>
        <p>This Month(Savings)</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info text-white text-center">
        <div id="showThisMonth"></div>
        <p>This Month(Loans)</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info text-white text-center">
        <h1>$0</h1>
        <p>This Month(Savings)</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info text-white text-center">
        <div id="showApplication"></div>
        <!-- <h1>0</h1> -->
        <p>This Month(Applications)</p>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Transactions</h4>
          <a href="#" class="float-right"
            ><i class="fas fa-arrow-right"></i> View All</a
          >
        </div>
        <div class="card-body">
          <!-- Table for transactions -->
          <table class="table">
            <!-- Table content here -->
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Announcements</h4>
          <a href="#" class="float-right"
            ><i class="fas fa-arrow-right"></i> View All</a
          >
        </div>
        <div class="card-body">
          <!-- Table for announcements -->
          <table class="table">
            <div id="announceShow"></div>
            <!-- Table content here -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const coopData = JSON.parse(localStorage.getItem("user"));
  document.getElementById(
    "showCoopName"
  ).innerHTML = `<b>${coopData.user.cooperativename}-(${coopData.user.coop_id})</>`;

  const requestOptions = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      coop_id: coopData.user.coop_id,
      page: 1,
      per_page: 10,
    }),
  };

  // Making the POST request using fetch
  fetch(`${currentURL}/cooperative/members`, requestOptions)
    .then((response) => response.json())
    .then((data) => {
      // Handle the response data
      document.getElementById(
        "membersShow"
      ).innerHTML = `<h1>${data.length}</h1>`;
      console.log("Success:", data.length);
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error:", error);
    });

  const requestOptions1 = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      coop_id: coopData.user.coop_id,
      page: 1,
      per_page: 10,
    }),
  };

  // Making the POST request using fetch
  fetch(`${currentURL}/cooperative/loans`, requestOptions1)
    .then((response) => response.json())
    .then((data) => {
      let totalLoan = 0;
      let thisMonthLoan = 0;
      let approvedLn = 0;
      let application = 0;
      // Handle the response data
      for (let each of data) {
        totalLoan = totalLoan + each.amount_disbursed;
        // const approvedDate = new Date(approvedDateStr);
        // console.log(each.approved_date);
        const approvedDateStr = each.approved_date;
        if (each.approved_status != "approved") {
          approvedLn = approvedLn + 1;
        }
        // Parse the date string into a Date object
        const approvedDate = new Date(approvedDateStr);
        const currentDate = new Date();

        const approvedYear = approvedDate.getUTCFullYear();
        const approvedMonth = approvedDate.getUTCMonth(); // Note: months are zero-indexed (0 = January, 11 = December)

        // Get the current year and month
        const currentYear = currentDate.getUTCFullYear();
        const currentMonth = currentDate.getUTCMonth();

        // Check if the approved date is within the current month
        const isWithinCurrentMonth =
          approvedYear === currentYear && approvedMonth === currentMonth;
        if (isWithinCurrentMonth == true) {
          thisMonthLoan = thisMonthLoan + each.amount_disbursed;
          application = application + 1;
        }
      }

      document.getElementById(
        "showTotalLoan"
      ).innerHTML = `<h1>$${totalLoan}</h1>`;
      document.getElementById(
        "showThisMonth"
      ).innerHTML = `<h1>$${thisMonthLoan}</h1>`;
      document.getElementById(
        "showWaiting"
      ).innerHTML = `<h1>${approvedLn}</h1>`;

      document.getElementById(
        "showApplication"
      ).innerHTML = `<h1>${application}</h1>`;
      // showThisMonth
      // console.log("Success:", data.length);
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error:", error);
    });

  const requestOptions2 = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      coop_id: coopData.user.coop_id,
      page: 1,
      per_page: 10,
    }),
  };

  // Making the POST request using fetch
  fetch(`${currentURL}/cooperative/savings`, requestOptions2)
    .then((response) => response.json())
    .then((data) => {
      let totalSavings = 0;
      let thisMonthSavings = 0;

      for (let each of data) {
        totalSavings = totalSavings + parseInt(each.amount);
      }

      document.getElementById(
        "showSavings"
      ).innerHTML = `<h1>$${totalSavings}</h1>`;
      // showThisMonth
      // console.log("Success:", data.length);
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error:", error);
    });

  const requestOptions3 = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      coop_id: coopData.user.coop_id,
    }),
  };

  fetch(`${currentURL}/cooperative/annoucement`, requestOptions3)
    .then((response) => response.json())
    .then((data) => {
      let announce = "";
      for (let each of data) {
        anounce =
          announce +
          `<tr><td><b>${each.title}</b><br><p>${each.content}</p></td></tr>`;
        // totalSavings = totalSavings + parseInt(each.amount);
      }

      document.getElementById(
        "announceShow"
      ).innerHTML = `<h1>${announce}</h1>`;
      // showThisMonth
      // console.log("Success:", data.length);
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error:", error);
    });

  const requestOptions4 = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      coop_id: coopData.user.coop_id,
    }),
  };

  fetch(`${currentURL}/cooporetive/profile`, requestOptions4)
    .then((response) => response.json())
    .then((data) => {
      console.log(data.coop);
      if (data.coop.registration_fee == "") {
        window.location.href = "/dashboard/coopsettings";
      }
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error:", error);
    });
</script>
{% include 'includes/footer.html' %}
