<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="PWA Dashboard" />
    <title>PWA Mobile Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        padding-bottom: 60px;
      }
      .navbar-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        z-index: 1000;
      }
      .btn-small {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
      }
    </style>
    <style>
      .item-card {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
      }
      .item-icon {
        background-color: white; /* Circle color */
        color: black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin-right: 15px;
      }
      .item-details {
        flex-grow: 1;
      }
      .item-price {
        font-size: 20px;
        font-weight: bold;
      }
    </style>
    <script src="https://www.paypal.com/sdk/js?client-id=AfhwU0miSQdsbgBWf9-sHXmB7e7P8LAa3SaiH8L7q8xRQ7MpbBIltH1GUnkBZzOdZ3ILk4gxUDvl69R-&components=buttons,hosted-fields"></script>
    <script>
      const currentURL = window.location.origin;
    </script>
  </head>
  <body>
    <div class="container mt-4">
      <div class="card mb-4">
        <div class="card-body">
          <!-- Top Row -->
          <!-- <div class="row">
            <div id="showTitle"><b>Sinzu Cooperative</b>(Clement Samuel)</div>
          </div> -->
          <div class="row mb-3">
            <div class="col-6">
              <a class="btn btn-outline-primary btn-small" href="/membersloans">
                Back
              </a>
            </div>
          </div>
          <!-- Bottom Row -->
          <div class="content">
            <div class="container">
              <h1 class="text-center">Loan Details</h1>

              <div class="mt-4">
                <h3>Coop Details</h3>
                <dl class="row">
                  <dt class="col-sm-3">Loan ID</dt>
                  <dd class="col-sm-9" id="loanId"></dd>

                  <dt class="col-sm-3">Staff ID</dt>
                  <dd class="col-sm-9" id="staffId"></dd>

                  <dt class="col-sm-3">Principal</dt>
                  <dd class="col-sm-9" id="principal"></dd>

                  <dt class="col-sm-3">Interest Amount</dt>
                  <dd class="col-sm-9" id="interestAmount"></dd>

                  <dt class="col-sm-3">Tenure</dt>
                  <dd class="col-sm-9" id="tenure"></dd>

                  <dt class="col-sm-3">Total Loan</dt>
                  <dd class="col-sm-9" id="totalLoan"></dd>

                  <dt class="col-sm-3">Amount Paid</dt>
                  <dd class="col-sm-9" id="amountPaid"></dd>

                  <dt class="col-sm-3">Amount Disbursed</dt>
                  <dd class="col-sm-9" id="amountDisbursed"></dd>

                  <dt class="col-sm-3">Application Date</dt>
                  <dd class="col-sm-9" id="applicationDate"></dd>

                  <dt class="col-sm-3">Approval Status</dt>
                  <dd class="col-sm-9" id="approvalStatus"></dd>

                  <dt class="col-sm-3">Status</dt>
                  <dd class="col-sm-9" id="coopStatus"></dd>
                </dl>
              </div>

              <div class="table-responsive mt-4">
                <h3>Repayment Details</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Due Date</th>
                      <th>Amount To Pay</th>
                      <th>Amount Paid</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="repaymentDetails">
                    <!-- Repayment details will be populated here -->
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Repay Modal -->
            <div
              class="modal fade"
              id="repayModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="repayModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="repayModalLabel">Repay Loan</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="repayForm">
                      <div class="form-group">
                        <label for="repayLoanId">Loan ID</label>
                        <input
                          type="text"
                          class="form-control"
                          id="repayLoanId"
                          name="loan_id"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label for="amountToRepay">Amount to Repay</label>
                        <input
                          type="number"
                          class="form-control"
                          id="amountToRepay"
                          name="amount_to_repay"
                          required
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Repay
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const fetchLoanDetails = () => {
                const urlParams = new URLSearchParams(window.location.search);
                const loanId = urlParams.get("loan_id");

                fetch(`${currentURL}/loandetails`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    loan_id: loanId,
                  }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    // Populate coop details
                    document.getElementById("loanId").textContent =
                      data.coop.loan_id;
                    document.getElementById("staffId").textContent =
                      data.coop.staff_id;
                    document.getElementById("principal").textContent =
                      data.coop.principal;
                    document.getElementById("interestAmount").textContent =
                      data.coop.total_interest;
                    document.getElementById("tenure").textContent =
                      data.coop.tenure;
                    document.getElementById("totalLoan").textContent =
                      data.coop.total_loan;
                    document.getElementById("amountPaid").textContent =
                      data.coop.amount_paid;
                    document.getElementById("amountDisbursed").textContent =
                      data.coop.amount_disbursed;
                    document.getElementById("applicationDate").textContent =
                      data.coop.request_date;
                    document.getElementById("approvalStatus").textContent =
                      data.coop.approved_status;
                    document.getElementById("coopStatus").textContent =
                      data.coop.status;

                    // Populate repayment details
                    const repaymentDetails =
                      document.getElementById("repaymentDetails");
                    repaymentDetails.innerHTML = ""; // Clear previous entries
                    data.repayment.forEach((repayment) => {
                      const row = document.createElement("tr");
                      row.innerHTML = `
                          <td>${repayment.next_due}</td>
                          <td>${repayment.amount_to_pay}</td>
                          <td>${repayment.amount_paid}</td>
                          <td>${repayment.status}</td>
                          <td>${
                            repayment.status === "not paid"
                              ? `<button class="btn btn-primary btn-sm repay-button" data-toggle="modal" data-target="#repayModal" data-loanid="${data.coop.loan_id}" data-amount="${repayment.amount_to_pay}">Repay</button>`
                              : ""
                          }</td>
                        `;
                      repaymentDetails.appendChild(row);
                    });

                    // Attach click event to Repay buttons
                    const repayButtons =
                      document.querySelectorAll(".repay-button");
                    repayButtons.forEach((button) => {
                      button.addEventListener("click", () => {
                        const loanId = button.getAttribute("data-loanid");
                        const amountToRepay =
                          button.getAttribute("data-amount");

                        document.getElementById("repayLoanId").value = loanId;
                        document.getElementById("amountToRepay").value =
                          amountToRepay;
                      });
                    });
                  })
                  .catch((error) =>
                    console.error("Error fetching loan details:", error)
                  );
              };

              fetchLoanDetails();

              // Handle form submission for repay
              const repayForm = document.getElementById("repayForm");
              repayForm.addEventListener("submit", (event) => {
                event.preventDefault();

                const formData = new FormData(repayForm);
                const data = {
                  loan_id: document.getElementById("repayLoanId").value,
                  amount: document.getElementById("amountToRepay").value,
                };
                // formData.forEach((value, key) => {
                //   data[key] = value;
                // });

                fetch(`${currentURL}/cooperative/loan/repay`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(data),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    console.log("Repayment successful:", data);
                    showAlert("Repayment successful", "alert-success");
                    $("#repayModal").modal("hide");
                    fetchLoanDetails(); // Refresh loan details after repayment
                  })
                  .catch((error) => {
                    console.error("Error repaying loan:", error);
                    showAlert(
                      "Failed to repay loan. Please try again.",
                      "alert-danger"
                    );
                  });
              });

              function showAlert(message, className) {
                const alertDiv = document.createElement("div");
                alertDiv.className = `alert ${className}`;
                alertDiv.appendChild(document.createTextNode(message));

                const container = document.querySelector(".container");
                container.insertBefore(alertDiv, container.firstChild);

                setTimeout(() => {
                  alertDiv.remove();
                }, 3000);
              }
            });
          </script>
        </div>
      </div>
    </div>

    <!-- Switch Coop Modal -->
    <div
      class="modal fade"
      id="switchCoopModal"
      tabindex="-1"
      aria-labelledby="switchCoopModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="switchCoopModalLabel">
              Loan Application
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- staff_id = data.get('staff_id')
          coop_id = data.get('coop_id')
          amount = data.get('amount')
          frequency = data.get("frequency")
          savings_id = data.get("savings_id")
          title = data.get("title") -->
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="coopName" class="form-label">Loan Type</label>
                <select
                  name="loanty"
                  onchange="alert(this.value)"
                  class="form-control"
                  id="loanTypeapply"
                >
                  <option></option>
                </select>
              </div>
              <div class="mb-3">
                <label for="coopName" class="form-label">Amount</label>
                <input name="loanty" class="form-control" id="amountapply" />
              </div>
              <div class="mb-3">
                <label for="coopName" class="form-label">Tenure</label>
                <input name="loanty" class="form-control" id="tenureapply" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a onclick="applyLoan()" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Coop Modal -->
    <div
      class="modal fade"
      id="addCoopModal"
      tabindex="-1"
      aria-labelledby="addCoopModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCoopModalLabel">Loan Calculator</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Modal body content for Add Coop -->
            <form>
              <div class="mb-3">
                <label for="coopName" class="form-label">Loan Type</label>
                <select name="loanty" class="form-control" id="loanType">
                  <option></option>
                </select>
              </div>
              <div class="mb-3">
                <label for="coopName" class="form-label">Amount</label>
                <input name="loanty" class="form-control" id="amountcalc" />
              </div>
              <div class="mb-3">
                <label for="coopName" class="form-label">Tenure</label>
                <input name="loanty" class="form-control" id="tenurecalc" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a class="btn btn-primary" onclick="createPlan()">Calculate Plan</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Loan Calculation Result Modal -->
    <div
      class="modal fade"
      id="loanCalculationResultModal"
      tabindex="-1"
      aria-labelledby="loanCalculationResultModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loanCalculationResultModalLabel">
              Loan Calculation Result
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Month</th>
                  <th scope="col">Amount Received</th>
                  <th scope="col">Monthly Interest Repayment</th>
                  <th scope="col">Monthly Principal Repayment</th>
                  <th scope="col">Total Monthly Repayment</th>
                </tr>
              </thead>
              <tbody id="loanCalculationResultTable">
                <!-- Populated by JavaScript -->
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Request Withdraw Modal -->
    <div
      class="modal fade"
      id="requestWithdrawModal"
      tabindex="-1"
      aria-labelledby="requestWithdrawModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestWithdrawModalLabel">
              Request Withdraw
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Modal body content for Request Withdraw -->
            <form>
              <div class="mb-3">
                <label for="withdrawAmount" class="form-label"
                  >Withdraw Amount</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="withdrawAmount"
                  placeholder="Enter amount"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">
              Request Withdraw
            </button>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark navbar-bottom">
      <div class="container d-flex justify-content-around">
        <a class="navbar-brand" href="/members">
          <i class="bi bi-house-door"></i>
          <span class="d-block">Home</span>
        </a>
        <a class="navbar-brand" href="/memberssavings">
          <i class="bi bi-bar-chart"></i>
          <span class="d-block">Savings</span>
        </a>
        <a class="navbar-brand" href="/membersloans">
          <i class="bi bi-person"></i>
          <span class="d-block">Loans</span>
        </a>
        <a class="navbar-brand" href="/membersreports">
          <i class="bi bi-gear"></i>
          <span class="d-block">Reports</span>
        </a>
        <a class="navbar-brand" href="/memberslogout">
          <i class="bi bi-gear"></i>
          <span class="d-block">Log Out</span>
        </a>
      </div>
    </nav>
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Data not loaded</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
      let storedCoopData;
      let savingsPlanData;
      const user = JSON.parse(localStorage.getItem("user"));
      const coopData = JSON.parse(localStorage.getItem("coop"));

      getTransactions("all");
      function applyLoan() {
        const loantypes = document.getElementById("loanTypeapply").value;
        // alert()
        const principal = document.getElementById("amountapply").value;
        const tenure = document.getElementById("tenureapply").value;

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
          loan_type: loantypes,
          principal: principal,
          tenure: tenure,
          staff_id: user.user.staff_id,
          coop_id: coopData.coopData.coop_id,
        });

        const requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch(`${currentURL}/cooperative/loan/apply`, requestOptions)
          .then((response) => response.json())
          .then((result) => {
            window.location.reload();
            // populateLoanCalculationResult(result);
            // const loanCalculationResultModal = new bootstrap.Modal(
            //   document.getElementById("loanCalculationResultModal")
            // );
            // loanCalculationResultModal.show();
          })
          .catch((error) => console.error(error));

        //       staff_id = data.get('staff_id')
        // loanType = data.get('loan_type')
        // principal = int(data.get('principal'))
        // tenure = int(data.get('tenure'))
        // coop_id = data.get('coop_id')
      }
      function getTransactions(typed) {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
          coop_id: coopData.coopData.coop_id,
          staff_id: user.user.staff_id,
          page: 1,
          per_page: 100,
        });

        const requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };
        let output = "";
        fetch(`${currentURL}/cooperative/loans/user`, requestOptions)
          .then((response) => response.json())
          .then((result) => {
            let noOfActive = 0;
            let totalLoaned = 0;
            for (let item of result) {
              if (item.loans.approved_status == "approved") {
                noOfActive = noOfActive + 1;
                totalLoaned = totalLoaned + item.loans.total_loan;
              }
              //   console.log("=======>" + JSON.stringify(result.length));
              output =
                output +
                `<a href="/loan-details?rid=${item.loans.loan_id}">
                  <div class="item-card text-white ${
                    item.loans.approved_status === "approved"
                      ? "bg-success"
                      : "bg-danger"
                  }" >
              <div class="item-icon">
                <i class="fas fa-bill"></i>
                <!-- FontAwesome icon for home -->
              </div>
              <div class="item-details">
                <div class="item-title">${item.typeData.title}</div>
                <div class="item-subtitle">${item.loans.request_date}</div>
              </div>
              <div class="item-price">Principal: $${item.loans.principal}</div>
            </div></a>`;
            }

            document.getElementById("showResult").innerHTML = output;
            document.getElementById("loanShow").innerText = totalLoaned;
            document.getElementById("activeShow").innerText = noOfActive;
            // storedCoopData = result;
            // console.log(result);
            // window.location.reload();
          })
          .catch((error) => {
            console.error("Error:", error);
            // window.location.reload();
            // var errorModal = new bootstrap.Modal(
            //   document.getElementById("errorModal")
            // );
            // errorModal.show();
          });
      }
      function getCurrentFormattedDate() {
        const date = new Date();

        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, "0");
        const day = String(date.getDate()).padStart(2, "0");

        const hours = String(date.getHours()).padStart(2, "0");
        const minutes = String(date.getMinutes()).padStart(2, "0");
        const seconds = String(date.getSeconds()).padStart(2, "0");

        return `${year}-${month}`;
      }
      function payPlan(checkID) {
        console.log(checkID);
        console.log(savingsPlanData);
        // const index = savingsPlanData.find((item) => item.id === checkID);
        for (let i of savingsPlanData) {
          if (i.id == checkID) {
            localStorage.setItem("savingsPay", JSON.stringify(i));
            console.log("yes");
            break;
          }
        }
        window.location.href = "/memberpaypalsavings";
        // console.log(index);
        // localStorage.setItem("savingsPay", JSON.stringify(index));
        //
        // console.log(storedCoopData[index]);
        // window.location.reload();
      }
      function createPlan() {
        const loanType = document.getElementById("loanType").value;
        const principal = document.getElementById("amountcalc").value;
        const tenure = document.getElementById("tenurecalc").value;

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
          loan_type: loanType,
          principal: principal,
          tenure: tenure,
        });

        const requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch(`${currentURL}/cooperative/loan/calculator`, requestOptions)
          .then((response) => response.json())
          .then((result) => {
            populateLoanCalculationResult(result);
            const loanCalculationResultModal = new bootstrap.Modal(
              document.getElementById("loanCalculationResultModal")
            );
            loanCalculationResultModal.show();
          })
          .catch((error) => console.error(error));
      }

      function populateLoanCalculationResult(data) {
        const tableBody = document.getElementById("loanCalculationResultTable");
        tableBody.innerHTML = ""; // Clear any existing rows

        data.forEach((item) => {
          const row = document.createElement("tr");

          const monthCell = document.createElement("td");
          monthCell.textContent = item.month;
          row.appendChild(monthCell);

          const amountReceivedCell = document.createElement("td");
          amountReceivedCell.textContent = item.amount_received;
          row.appendChild(amountReceivedCell);

          const monthlyInterestRepaymentCell = document.createElement("td");
          monthlyInterestRepaymentCell.textContent =
            item.monthly_interest_repayment;
          row.appendChild(monthlyInterestRepaymentCell);

          const monthlyPrincipalRepaymentCell = document.createElement("td");
          monthlyPrincipalRepaymentCell.textContent =
            item.monthly_principal_repayment;
          row.appendChild(monthlyPrincipalRepaymentCell);

          const totalMonthlyRepaymentCell = document.createElement("td");
          totalMonthlyRepaymentCell.textContent = item.monthly_repayment;
          row.appendChild(totalMonthlyRepaymentCell);

          tableBody.appendChild(row);
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        // console.log(coopData);
        // coopSelect
        fetch(`${currentURL}/cooperative/loantype`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            coop_id: coopData.coopData.coop_id,
            per_page: 10,
            page: 1,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            const loanTypeSelect = document.getElementById("loanType");
            data.forEach((loanType) => {
              const option = document.createElement("option");
              option.value = loanType.id;
              option.textContent = loanType.title;
              loanTypeSelect.appendChild(option);
            });

            const loanTypeSelectApply =
              document.getElementById("loanTypeapply");
            data.forEach((loanType) => {
              const option = document.createElement("option");
              option.value = loanType.id;
              option.textContent = loanType.title;
              loanTypeSelectApply.appendChild(option);
            });
          })
          .catch((error) => console.error("Error fetching loan types:", error));
      });
    </script>
  </body>
</html>
